body {
	//background-color : yellow;
	background-color: rgba(200, 200, 20, 0.5);
}

nav {
	display: flex;
	text-align:center;
	flex-direction:column;
}
#header {
	text-align : center;
}

section {
	margin: 5rem auto;
	padding-top:1rem;
	border-top: 1px solid #333;
}

.headshot{
	height:140px;
	padding: 10px;
	margin: 2rem;
	float:left;
	background-color: #ffffff;
}

.myMajor {
	font-style:italic;
	text-decoration:underline;
}

#inputBox {
	clear:both;
	
}

#messageBox {
	margin-top: 150px;
	min-height: 50px;
	background-color: white;
	border: 2px solid black;
	padding: 5px;
}